
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "";
}




/* ===== Typography ===== */
@layer components {
  .heading-1 {
    @apply text-[65px] font-semibold leading-[75px] font-heading;
  }

  .heading-2 {
    @apply text-[48px] leading-[4.2rem] font-semibold font-heading text-primary;
  }

  .heading-3 {
    @apply text-[32px] font-medium leading-10 font-heading text-primary;
  }

  .body-text {
    @apply text-base font-normal font-body text-secondary;
  }
  
  .button-text{
     @apply text-base font-normal font-body text-primary
  }

  /* ===== Mobile styles ===== */
  @media (min-width: 320px) and (max-width: 600px) {
    .heading-1 {
      @apply text-[40px] leading-[48px];
    }

    .heading-2 {
      @apply text-[28px] leading-[2rem];
    }

    .heading-3 {
      @apply text-[24px] leading-8;
    }

    .body-text {
      @apply text-sm;
    }
    .button-text{
     @apply text-xs
  }
  }

   /* ===== tablet styles ===== */
   @media (min-width: 600px) and (max-width: 1024px) {
    .heading-1 {
      @apply text-[40px] leading-[48px];
    }

    .heading-2 {
      @apply text-[36px] leading-[3.2rem];
    }

    .heading-3 {
      @apply text-[24px] leading-8;
    }

    .body-text {
      @apply text-base;
    }
    .button-text{
     @apply text-sm
  }
  }
}


/* ===== Global styles ===== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
