
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "";
}




/* ===== Typography ===== */
@layer components {
  .heading-1 {
    @apply text-[65px] font-semibold leading-[75px] font-heading;
  }

  .heading-2 {
    @apply text-[48px] leading-[4.2rem] font-semibold font-heading text-primary;
  }

  .heading-3 {
    @apply text-[32px] font-medium leading-10 font-heading text-primary;
  }

  .heading-6 {
    @apply text-[22px] font-medium leading-5 font-heading text-primary;
  }

  .body-text {
    @apply text-base font-normal font-body text-secondary;
  }

  .body-text-heading {
    @apply text-lg font-semibold font-heading text-primary;
  }

  .body-text-1 {
    @apply text-sm font-normal font-body text-secondary;
  }
  
  .button-text{
     @apply text-base font-normal font-body text-primary
  }

  /* ===== Mobile styles ===== */
  @media (min-width: 320px) and (max-width: 600px) {
    .heading-1 {
      @apply text-[40px] leading-[48px];
    }

    .heading-2 {
      @apply text-[28px] leading-[2rem];
    }

    .heading-3 {
      @apply text-[24px] leading-8;
    }

    .heading-6 {
    @apply text-lg font-medium font-heading text-primary;
  }
    .body-text {
      @apply text-sm;
    }
    .button-text{
     @apply text-xs
  }
  }

   /* ===== tablet styles ===== */
   @media (min-width: 600px) and (max-width: 1024px) {
    .heading-1 {
      @apply text-[40px] leading-[48px];
    }

    .heading-2 {
      @apply text-[36px] leading-[3.2rem];
    }

    .heading-3 {
      @apply text-[24px] leading-8;
    }

    .body-text {
      @apply text-base;
    }
    .button-text{
     @apply text-sm
  }
  }
}


/* ===== Global styles ===== */
body {
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


 @media (min-width: 320px) and (max-width: 600px) {
  .clinicalAction {
    background-position: center center;
  }
 }

.evidenceTable thead tr th {
  @apply body-text-1 font-medium text-primary;
}

.evidenceTable tbody tr td {
  @apply body-text-1  text-primary;
}