
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Typography ===== */
@layer components {
  .heading-1 {
    @apply text-[56px] font-semibold leading-[64px];
  }

  .heading-2 {
    @apply text-4xl font-semibold;
  }

  .heading-3 {
    @apply text-[32px] leading-[40px] font-semibold text-primary;
  }
  
  .body-text {
    @apply text-base leading-6 font-normal text-secondary;
  }
}

/* ===== Global styles ===== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
